
.slogan{
  color:white;
  text-align: center;
  font-size: 50px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.head{
  background-image: url("https://github.com/moringaschool/mpft-ip/blob/master/ip2/assets/backgrounds/landing.jpg?raw=true");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 5px;
}

  .menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
button{
  color:#F15A29;
}
button:hover{
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);

}

.tnb:hover{
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}
#breakfast{
  background-image: url("../images/breakfast.jpg");
  padding:70px;
  color: white;
  margin: 0;

}
#lunch{
  background-image: url("../images/lunch.jpg");
  padding:70px;
  color: white;
  margin: 0;


}
#dinner{
  background-image: url("../images/dinner.jpg");
  padding:70px;
  color: white;
  margin: 0;



}
#happyhour{
  background-color: lightgrey;
  padding:19px;
  color: black;
  margin: 0;




}
#partytime{
  background-color: #F15A29;
  padding:19px;
  color: white;
  margin: 0;


}
html{
  background-color: lightgrey;
}
#burger{
  background-image: url("../images/foodsBg.jpg");
  padding: 20px;
  display: block;
 justify-content: space-between;
 background-attachment: fixed;
}
#drnk{
  justify-content: space-around;
  padding: 5px;
  background-color: white;
  margin-top:50px;
  margin-bottom: 50px;
  margin-right: 70px;
  margin-left: 70px;
}

#img{
  padding: 50px;

}
.drinks{
  text-align: right;
}
.gal{
  padding-bottom: 30px;
}
.card {
  margin-top: 30px;
    box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
    padding-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
}
#mail{
  background-image: url("../images/subscribe.jpg");
  padding: 70px;
  text-align: center;
  color: white;
  margin-top:50px;
}
#bottom{
  background-color:  #F15A29;
  display: block;
  text-align: center;
  color: white;
}
.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;

border-radius: 5px;
}
.formButton:hover {
background-color: #27ae60;
color:#ffffff;
}
.button button1{
  background-color:#F15A29;
}
